---
apiVersion: v1
kind: Namespace
metadata:
  name: cert-manager
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: cert-manager
  namespace: kube-system
spec:
  chart: oci://quay.io/jetstack/charts/cert-manager
  version: {{ cert_manager_version }}
  targetNamespace: cert-manager
  createNamespace: false
  valuesContent: |-
    crds:
      enabled: true
