[defaults]
bin_ansible_callbacks = true
display_failed_stderr = true
roles_path = ./roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
collections_paths = ./collections:~/.ansible/collections:/usr/share/ansible/collections

callbacks_enabled = community.general.opentelemetry
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
host_key_checking = False

private_key_file = ~/.ssh/ansible

[ssh_connection]
pipelining=True

[callback_opentelemetry]
enable_from_environment = ANSIBLE_OPENTELEMETRY_ENABLED
disable_logs = false
