#################################################################################
#                            Welcome to {{ ansible_hostname }}
#           Authorized uses only. All activity may be monitored and reported.
#              Disconnect IMMEDIATELY if you are not an authorized user!
#################################################################################
