[Unit]
After=network-online.target
Description=Lightweight Kubernetes
Documentation=https://k3s.io
Wants=network-online.target

###########
# CIS - 1.2.1 to 1.2.32, 1.2.35
# CIS - 1.3.1 to 1.3.7
# CIS - 1.4.1, 1.4.2
# CIS - 3.2.1
# CIS - 4.1.1 to 4.1.10
# CIS - 4.2.1 to 4.2.13
# TLS - allow only strong ciphers
###########
[Service]
ExecStart={{ k3s_binary_path }}/k3s server \
    --kube-apiserver-arg='enable-admission-plugins=AlwaysPullImages,DefaultStorageClass,DefaultTolerationSeconds,LimitRanger,MutatingAdmissionWebhook,NamespaceLifecycle,NodeRestriction,PersistentVolumeClaimResize,PodSecurityPolicy,Priority,ResourceQuota,ServiceAccount,TaintNodesByCondition,ValidatingAdmissionWebhook' \
    --kube-apiserver-arg='encryption-provider-config=/etc/k3s-encryption.yaml' \
    --kube-apiserver-arg='request-timeout=300s' \
    --kube-apiserver-arg='service-account-lookup=true' \
    --kube-apiserver-arg=anonymous-auth=false \
    --kube-apiserver-arg=audit-log-maxage=30 \
    --kube-apiserver-arg=audit-log-maxbackup=30 \
    --kube-apiserver-arg=audit-log-maxsize=30 \
    --kube-apiserver-arg=audit-log-path=/var/lib/rancher/audit/audit.log \
    --kube-apiserver-arg=tls-cipher-suites=TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_RSA_WITH_AES_128_GCM_SHA256,TLS_RSA_WITH_AES_256_GCM_SHA384 \
    --kube-apiserver-arg=tls-min-version=VersionTLS12 \
    --kube-controller-manager-arg='terminated-pod-gc-threshold=10' \
    --kube-controller-manager-arg='use-service-account-credentials=true' \
    --kubelet-arg='anonymous-auth=false' \
    --kubelet-arg='streaming-connection-idle-timeout=5m' \
    --kubelet-arg=tls-cipher-suites=TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_RSA_WITH_AES_128_GCM_SHA256,TLS_RSA_WITH_AES_256_GCM_SHA384 \
    --protect-kernel-defaults=true \
    --write-kubeconfig-mode 0600 \
    --disable traefik \
{% if metallb_enabled %}
    --disable servicelb \
{% endif %}
{% if groups['kube_node'] is defined and groups['kube_node'] | length > 0%}
    --node-taint CriticalAddonsOnly=true:NoExecute \
{% endif %}
{% if falco_security_enabled %}
    --kube-apiserver-arg=audit-policy-file=/var/lib/rancher/audit/audit-policy.yaml \
    --kube-apiserver-arg=audit-webhook-config-file=/var/lib/rancher/audit/webhook-config.yaml \
{% endif %}
{%if 'libselinux' in ansible_facts.packages %}
    --selinux \
{% endif %}
    --advertise-address {{ ansible_host }} \
    --bind-address 0.0.0.0 \
    --node-ip {{ ansible_host }} \
    --cluster-cidr={{ cluster_cidr }} \
    --service-cidr={{ service_cidr }} \
    --tls-san {{ cluster_external_ip }}
Delegate=yes
KillMode=process
LimitCORE=infinity
LimitNOFILE=1048576
LimitNPROC=infinity
Restart=on-failure
RestartSec=5s
TasksMax=infinity
TimeoutStartSec=0
Type=notify

# Sandboxing features
{%if 'libselinux' in ansible_facts.packages %}
AssertSecurity=selinux
ConditionSecurity=selinux
{% endif %}
LockPersonality=yes
PrivateTmp=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelTunables=yes
ProtectSystem=full
ReadWriteDirectories=/var/lib/ /var/run /run /var/log/ /lib/modules /etc/rancher/

[Install]
WantedBy=multi-user.target
