apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: falcosidekick-ingress
  namespace: falco
spec:
  ingressClassName: traefik
  rules:
  - host: falcosidekick.{{ ingress_hostname }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: falcosidekick
            port:
              number: 2801
