---
apiVersion: v1
kind: Namespace
metadata:
  name: portainer
  labels:
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/enforce-version: latest
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/warn: privileged
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: portainer
  namespace: kube-system
spec:
  repo: https://portainer.github.io/k8s/
  chart: portainer
  version: {{ portainer_version }}
  targetNamespace: portainer
  createNamespace: false
  valuesContent: |-
    service:
      type: ClusterIP
    tls:
      force: true
{% if portainer_ingress_host | default('') | length > 0 %}
    ingress:
      enabled: true
      ingressClassName: {{ portainer_ingress_class }}
      annotations:
        traefik.ingress.kubernetes.io/router.tls: "true"
      hosts:
        - host: {{ portainer_ingress_host }}
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - {{ portainer_ingress_host }}
{% else %}
    ingress:
      enabled: false
{% endif %}
